<launch>
<node pkg="odometry_reader" type="odometry_reader.py" name="ImuNodelet"
    output="screen">
    </node>

<!-- Static transform from base_link to base_laser -->
    <node pkg="tf" type="static_transform_publisher" name="base_laser_to_base_link" args="0 0 1.225 0 0 0 base_link base_laser 100"/>

<!-- Static transform from odom to base_link -->
    <node pkg="tf" type="static_transform_publisher" name="odom_to_base_link" args="0 .18 1.185 0 0 0 odom base_link 100"/> 

  #### Complementary filter

    <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="false"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>

    </node>

    <!-- Odometry_fusion node -->
    <node pkg="odometry_fusion" type="odometry_fusion.py" name="odometry_fusion" output="screen"/>

    <node pkg="odometry_fusion_publisher" type="odometry_fusion_publisher.py" name="god" output="screen"/>
</launch>
